@page "/specialtag"
@inject SpecialTagService _db
@attribute [Authorize(Roles = "Admin")]
<div class="container-fluid p-4">
    <div class="row justify-content-between border border-info">
        <div class="col-sm-12 col-md-5">
            <h1 class="text-info">SpecialTag List</h1>
        </div>
        <div class="col-sm-12 col-md-3 text-right">
            <button type="button" class="btn btn-info form-control my-2" @onclick="AddNewSpecialTag">Add a new special tag</button>
        </div>
    </div>
    @if (specialTags is null)
    {
        <div class="row">
            <div class="col text-center">
                <img src="https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" height="200" />
            </div>
        </div>
    }
    else if (specialTags.Any())
    {
        <div class="row">
            <table class="table table-striped">
                <thead class="bg-info">
                    <tr>
                        <th>Special tag name:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in specialTags)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td class="text-right">
                                <button class="btn btn-primary" type="button" @onclick="(()=>EditSpecialTagHandler(item))">Update</button>
                                <button class="btn btn-primary" type="button" @onclick="(()=>DetailsSpecialTagHandler(item))">Details</button>
                                <button class="btn btn-danger" type="button" @onclick="(()=>DeleteSpecialTagHandler(item))">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>
                            SpecialTags Count: @specialTags.Count
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col text-center">
                <img src="https://cdn.dribbble.com/users/1231865/screenshots/11157048/media/bc9427646c632ded563ee076fdc5dfda.jpg?compress=1&resize=400x300" height="200" />
            </div>
        </div>
    }
</div>
@if (showModal)
{

    if (isDetails)
    {
        <DetailsModalSpecialTag specialTagObj="specialTagObj" OnCloseModal="CloseModal" />
    }
    else
    {
        <AddEditModalSpecialTag specialTagObj="specialTagObj" OnCloseModal="CloseModal" OnValidSubmitHandler="ValidSubmitHandler" />
    }
}



@code {
    List<SpecialTag> specialTags;
    SpecialTag specialTagObj = new();
    bool showModal = false;
    bool isDetails = false;


    protected override async Task OnInitializedAsync()
    {
        specialTags = await _db.GetAllSpecialTagsAsync();
    }
    void AddNewSpecialTag()
    {
        specialTagObj = new();
        specialTagObj.Id = 0;
        showModal = true;
    }
    void CloseModal()
    {
        showModal = false;
        isDetails = false;
    }
    async Task ValidSubmitHandler()
    {
        bool result = false;
        showModal = false;
        if (specialTagObj.Id.Equals(0))
        {
            result = await _db.CreateSpecialTagAsync(specialTagObj);
        }
        else
        {
            result = await _db.UpdateSpecialTagAsync(specialTagObj);
        }
        specialTags = await _db.GetAllSpecialTagsAsync();
    }
    void EditSpecialTagHandler(SpecialTag specialTagForEdit)
    {
        specialTagObj = specialTagForEdit;
        showModal = true;
    }
    async Task DeleteSpecialTagHandler(SpecialTag specialTagForDeletion)
    {
        bool result = false;
        result = await _db.DeleteSpecialTagAsync(specialTagForDeletion);
        specialTags.Clear();
        specialTags = await _db.GetAllSpecialTagsAsync();
    }
    void DetailsSpecialTagHandler(SpecialTag specialTagDetails)
    {
        specialTagObj = specialTagDetails;
        isDetails = true;
        showModal = true;

    }

}
